.app-header {
    height: 70px;
    background-color: $clr7;
    background-color: #316adec9;
    color: $clr1;

    .main-header {
        justify-content: space-between;
        align-items: center;
        .logo {
            cursor: pointer;
            font-family: f-regular;
            font-size: rem(20px);
        }
        a {
            padding: 10px;
            border-radius: 6px;
            &:hover {
                background-color: $clr11;
                transition: ease-in-out 0.3s;
            }
        }
    }
}
