.app-header{
    height: 70px;
    background-color: $clr7;
    color: $clr1;

    .main-header{
        justify-content: space-between;
        align-items: center;

        a{
            padding-inline-start: 20px;
        }
    }
}