
// flex helpers
.flex {
  display: flex;
}

.clean-link {
  text-decoration: none;
  color: inherit;
}

.clean-list {
  list-style-type: none;
}

.clean-list {
  list-style-type: none;
}

.feedback-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}


