// Colors
$clr1: #ffffff;
$clr2: #161616;
$clr3: #e3e3e3;
$clr4: #f4f4f4;
$clr5: #525252;
$clr6: #0069D9;
$clr7: #522143;
$clr8:#091e420a;
$clr9: #ebebeb;
$clr10:#a5adba;
$clr11:#ffffff12;
$clr12: #b4b4b4;
$clr13:#3b7fbdc9;

// Breakpoints
$break-mobile: 350px;
$break-narrow: 450px;
$break-tablet: 620px;
$break-normal: 820px;
$break-large: 1100px;
$break-wide: 1300px;
