// Colors
// $clr1: #ff385c;
// $clr2: #222222;
// $clr3: #717171;
// $clr4: #303030;
// $clr5: #ffffff;
// $clr6: #f7f7f7;
// $clr7: #dddddd;
// $clr8: #7e7e7e;
// $clr10: #000000;
$clr12: #b4b4b4;

$clr1: #ffffff;
$clr2: #161616;
$clr3: #e3e3e3;
$clr4: #f4f4f4;
$clr5: #525252;
$clr6: #0069D9;
$clr7: #522143;
$clr8:#091e420a;
$clr9: #ebebeb;
$clr10:#a5adba;


// Breakpoints
$break-mobile: 350px;
$break-narrow: 480px;
$break-tablet: 620px;
$break-normal: 820px;
$break-large: 1100px;
$break-wide: 1300px;
